RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.relegareagrolife.com/ttnf/
RewriteRule (.*) http://www.relegareagrolife.com/ttnf/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]